<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.username %>!</h1>

    <p>
      A big welcome from everybody here at App Academy!
      We hope you enjoy your time here!
    </p>
  </body>
</html>
