html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  color: grey;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  position: fixed;
  z-index: 100;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0 20px;
  font: bold 14px Helvetica, Sans-Serif;
}

nav p {
  font-size: 18px;
}

nav a {
  padding: 5px 10px;
  color: white;
  background-color: grey;
  border-radius: 5px;
}

nav a:last-child {
  margin-right: 0;
}

.image {
  position: relative;
  width: 100%;
  padding-top: 60px;
}

img {
  width: 100%;
}

h2 {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  font: bold 24px/45px Helvetica, Sans-Serif;
}

h2 span {
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 9px;
}

h2 span.spacer {
  padding: 0 5px;
  background-color: transparent;
}

.edit {
  text-align: right;
  padding: 0 10px 20px 0;
}

.edit a {
  font: bold 14px Helvetica, Sans-Serif;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

footer a {
  padding: 0 15px;
  font: bold 14px Helvetica, Sans-Serif;
}

.logo img {
  width: 50px;
  height: 50px;
}
